@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

.grad{
    height: 100%;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+47,ededed+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.spacer-20{
    height: 20px;
}

.login-header{
    text-align: center;
    font-family: "Source Sans Pro";
}

.subMsg{
    font-family: "Source Sans Pro";
    font-size: 0.8em;
    text-align: center;
    width: 100%;
    margin-top: 10px;
}
.login-frame{
    margin-top: 30px;
    width: 300px;
    height: 220px;
    position: relative;
    left: calc(50% - 150px);
    background-color: #ffffff;
    display: flex;
    border-style: solid;
    border-width: 1px;
    border-color: #afbacc;
}

.login-message{
    font-family: "Source Sans Pro";
    font-size: 0.9em;
    height: 50px;
    margin: 10px;
}

.login-fields{
    text-align: center;
    position: absolute;
    width: 200px;
    top: 50px;
    left: calc(50% - 100px);
    margin: 0 5px;
}

.logo{
    height: 75px;
    background-image: url("./logo.png");
    background-repeat: no-repeat;
    position: relative;;
    left: calc(50% - 44px);
}

.what{
    padding: 5px;
}

.tab-row{
    height: 25px;
    font-size: 0.9em;
    border-bottom: 1px solid #e3e8ef;
}
.tab-what{
    color: #365d9b;
    padding: 4px;
    display: inline-block;
    width: 120px;
}

.tab-val{

}

.highlight{
    color: #6686ba;
    font-size: 1.6em;
    font-family: "Source Sans Pro";
    padding-left: 10px;
}

.mid-wide-centered{
    width: 250px;
    position: relative;
    left: calc(50% - 125px);
    padding-top: 20px;
}

.instr{
    font-size: 0.9em;
}
